@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Orbitron", sans-serif;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
	font-weight: 300;
	letter-spacing: 1.5px;
}
html {
	scroll-behavior: smooth;
}
button {
	background: initial;
	border: none;
	cursor: pointer;
}
a {
	text-decoration: none;
	color: #ff7f50;
}
ul {
	list-style: none;
}
input,
textarea {
	background: transparent;
	border: none;
	border-bottom: 1px solid #ff7f50;
	min-height: 30px;
	font-size: 14px;
	color: #ff7f50;
}
body {
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: stretch;
	justify-content: start;
}
h1 {
	font-size: 26px;
	text-align: center;
	color: #ff7f50;
}
h2 {
	z-index: 1;
}


.container {
	padding: 10px 20px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
	backdrop-filter: blur(7px) saturate(220%);
}

.space {
	width: 30px;
}

.logo {
	color: #ff7f50;
	font-size: 22px;
}

.nav-menu {
	display: none;
}

.burger {
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-self: flex-end;
	z-index: 3;
}

.burLine1,
.burLine2,
.burLine3 {
	width: 30px;
	height: 2px;
	border-radius: 1px;
	border: 1px solid #ff7f50;
	transition: transform 1s ease, opacity 0.7s ease;
	will-change: transform, opacity;
}

.burger.active .burLine1 {
	transform: rotate(45deg) translate(7px, 7px);
}

.burger.active .burLine2 {
	opacity: 0
}

.burger.active .burLine3 {
	transform: rotate(-45deg) translate(7px, -7px);
}

#burgerMenu {
	width: 100vw;
	height: 100dvh;
	position: fixed;
	top: 0;
	left: 0;
	padding: 90px 20px;
	pointer-events: none;
	background: rgba(30, 30, 30, 0.5);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(17px) saturate(120%);

	opacity: 0;
	transform: translateX(100%);
	will-change: transform opacity;
	transition: transform 0.7s ease, opacity 1s ease;
	z-index: 8888;
}

#burgerMenu.visible {
	opacity: 1;
	transform: translateX(0);
	pointer-events: auto;
}

#burgerMenu a {
	font-size: 22px;
	color: #ff7f50;
}

.burger-menu ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.burger-menu ul li a {
	text-decoration: underline;
}

.hero {
	height: 93dvh;
	width: 100%;
}

.video-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100lvh;
	overflow: hidden;
}

.video-bg video {
	width: 100%;
	height: 99.7%;
	object-fit: cover;
	overflow: hidden;
	-webkit-overflow-scrolling: auto;
	will-change: transform;
	backface-visibility: hidden;
	z-index: -2;
	overflow: hidden;
}


.video-bg::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1));
	pointer-events: none;
}

.bg-dark {
	position: fixed;
	top: 0;
	left: 0;
	width: 170vw;
	height: 200vh;
	overflow: hidden;
	z-index: -10;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -10;
	pointer-events: none;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

.hero-content {
	height: 80vh;
	width: 100%;
	color: #ff7f50;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.btn {
	padding: 5px 50px;
	border: 2px solid #ff7f50;
	border-radius: 35px;
	font-size: 20px;
	color: #ff7f50;
	
	background: rgba(30, 30, 30, 0.2);
	backdrop-filter: blur(6px) saturate(240%);
	-webkit-backdrop-filter: blur(6px) saturate(240%);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
	text-shadow: none;
	transition: color 0.4s ease,
				filter 0.5s ease,
				letter-spacing 0.6s ease;
}

.info {
	display: flex;
	flex-direction: column;
	width: 100vw;
	margin-top: 0;
	padding: 10px 20px;
	color: #ff7f50;

	border-radius: 20px;
	backdrop-filter: blur(5px) saturate(120%);
	background: rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
}

.products {
	padding-top: 20px;

	position: relative;
	display: flex;
	flex-direction: column;
	gap: 80px;
}

/*
.products::after{
	content: "";
	position: absolute;
	top: -100px;
	left: 0;
	height: 120px;
	width: 100vw;
	background: #000;
	pointer-events: none;
	z-index: -7;
}

*/
.products::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 20%;
	width: 100vw;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.02));
	pointer-events: none;
	z-index: -5;
}

.title {
	position: sticky;
	top: 65px;
	z-index: 2;
}

.prods {
	position: sticky;
	top: 80px;
	height: auto;
	width: 100vw;

	display: flex;
	gap: 20px;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	overflow: hidden;
	transition: transform 1s ease;
	will-change: transform;
}

.blocks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.block {
	width: 75%;

	padding: 35px 20px;
	border-radius: 20px;
	backdrop-filter: blur(5px) saturate(120%);
	background: rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	gap: 20px;
	color: #ff7f50;
	
	transform: translateX(100%);
	opacity: 0;
	will-change: transform, opacity;
	transition: transform 1.2s ease, opacity 1s ease;
}

.blBtn { 
	transform: translateX(100%);
	opacity: 0;
	will-change: transform, opacity;
	transition: transform 1.2s ease,
				opacity 1s ease,
				color 0.4s ease,
				filter 0.5s ease,
				letter-spacing 0.6s ease;
	margin-bottom: 10px;
}

.show {
	opacity: 1;
	transform: translateX(0);
}

.block img {
	border-radius: 10px;
	border: 1px solid #ff7f50;
	object-fit: cover;
	cursor: pointer;
}

.section-about {
	padding-top: 60px;

	display: flex;
	flex-direction: column;
	gap: 100px;
}

.about-us {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 100px;
}

.about-us p {
	margin-top: 10px;
}

.about {
	transition: transform 1s ease-out;
	will-change: transform;
	z-index: 2;
}

.carousel {
	display: flex;
	gap: 30px;
	padding: 20px 0;
	overflow-x: scroll;
	overflow-y: hidden;
  	scrollbar-width: none;
  	-ms-overflow-style: none;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}
.carousel::-webkit-scrollbar {
	display: none;
}

.officeImg {
	width: 100%;
	border-radius: 20px;
	/*box-shadow: 2px 5px 10px black;*/
	scroll-snap-align: start;
}
.carousel img {
	object-fit: cover;
}

.team {
	scroll-snap-align: center;
	flex: 0 0 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-right: 0;
}

.team h3 {
	text-align: center;
}

.faceImg {
	width: 50%;
	border-radius: 20px;
	aspect-ratio: 3/4;
	object-fit: cover;
	justify-felf: center;
	align-self: center;
}

.valueImg {
	width: 100%;
	max-height: 70%;
	border-radius: 20px;
	object-fit: cover;
	margin-top: 20px;
}

.sticky-about {
	position: sticky;
	top: 120px;
}

.contacts {
	padding-top: 80px;

	display: flex;
	flex-direction: column;
	gap: 80px;
}

.contacts-content {
	display: flex;
	flex-direction: column;
	gap: 80px;
}

.contact-info {
	position: sticky;
	top: 105px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.contact-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}

.contact-form form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	gap: 10px;
}
.contact-btn {
	transition: color 0.4s ease,
				filter 0.5s ease;
}

.footer {
	background: rgba(10, 10, 10, 0.4);
	color: #ff7f50;
	padding: 50px 0 20px;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
	backdrop-filter: blur(7px) saturate(220%);
}

.footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.footer .logo {
	font-size: 1.8rem;
	font-weight: 600;
	color: #ff7f50;
	text-decoration: none;
}

.footer-nav ul {
	list-style: none;
	display: flex;
	align-items: start;
	gap: 20px;
}

.footer-nav a,
.nav-menu a {
	color: #ff7f50;
	transition: color 0.3s;
}

.footer-nav a:hover,
.nav-menu a:hover {
	color: #ffa850;
}

.socials {
	display: flex;
	gap: 15px;
	align-self: center;
}

.socials img {
	width: 24px;
	height: 24px;
	opacity: 0.8;
	transition: opacity 0.3s;
}

.socials img:hover {
	opacity: 1;
}

.footer-bottom {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 30px;
	font-size: 10px;
	color: #ee8761;
	text-align: center;
	line-height: 18px;
}

@media screen and (min-width: 578px){
	.block {
		width: 60%;
	}
	.prods {
		width: 100%;
	}
	.info {
		width: 100%;
	}
	.products::before{
		left: -20px;
	}
}

@media screen and (min-width: 768px){
	.container{
		padding: 10px 50px;
	}
	.burger {
		display: none;
	}
	.nav-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.nav-menu ul {
		display: flex;
		gap: 20px;
	}
	.nav-menu ul li a {
		color: #ff7f50;
	}
	.space {
		display: none;
	}
	.products::before {
		left: -50px;
	}
	.products {
		padding-top: 22px;
	}
	.products::before {
		height: 50%;
	}
	.hero-content h2 {
		font-size: 32px;
	}
	.hero-btn {
		font-size: 26px;
	}
	.prods {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 50px;
	}
	.block img {
		aspect-ratio: 5/6;
	}
	.about{
		max-height: 70vh;
		padding: 30px 30px; 
	}
	.team {
		flex: 0 0 50%;
	}
	.contacts {
		height: 59vh;
	}
	.contacts-content {
		flex-direction: row;
		gap: 30px;
	}
	.contact-form form {
		gap: 15px;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		padding: 20px 150px;
	}
	.products::before{
		left: -150px;
	}
	.products {
		padding-top: 25px;
	}
	.hero {
		height: 92dvh;
	}
	.hero-content h2 {
		font-size: 36px;
	}
	.hero-btn {
		font-size: 32px;
	}
	.prods {
		grid-template-columns: 1fr 1fr 1fr;
		row-gap: 70px;
	}
	.head .container.header {
		padding: 10px 150px;
	}
	.about-us {
		height: 240vh;

	}
	.about {
		width: 70%;
	}
	.footer-content {
		flex-direction: row;
		justify-content: space-between;
	}
	.footer-nav ul {
		gap: 40px;
	}
	.footer-bottom {
		flex-direction: row;
		justify-content: space-between;
		text-align: left;
	}
	.hero-btn:hover {
		color: #ffa850;
		filter: saturate(220%) brightness(1.1);
		letter-spacing: 17px;
	}
	.blBtn:hover {
		color: #ffa850;
		filter: saturate(220%) brightness(1.1);
		letter-spacing: 10px;
	}
	.contact-btn:hover {
		color: #ffa850;
		filter: saturate(220%) brightness(1.1);
	}
}
@media screen and (min-width: 1440px) {
	* {
		font-size: 22px;
	}
	.container {
		padding: 40px 220px;
	}
	.products::before{
		left: -220px;
	}
	.products {
		padding-top: 50px;
	}
	.head .container.header {
		padding: 10px 220px;
	}
	.head .container.header .nav-menu ul {
		gap: 35px;
	}
	.hero {
		height: 90dvh;
	}
	.contacts-content {
		gap: 40px;
	}
	.footer-bottom p {
		font-size: 18px;
	}
	.logo-foo {
		width: 90px;
	}
}
@media screen and (min-width: 1920px) {
	
	.contacts-content {
		gap: 130px;
	}
	.contact-info,
	.contact-form {
		padding: 40px 40px;
		gap: 35px;
	}
	.contact-form form {
		gap: 35px;
	}
}